nav{
    background-color: rgb(194, 161, 122);
    padding: 5px;
}
h1{
    text-align: center;
}
a {
    text-decoration: none;
}
.error-404{
    text-align: center;
}

.headerimageart{
    width: 1920px;
    height: 260px;
}
.headerimagehome{
    width: 1920px;
    height: 540px;
}